body {
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: #f4f4f4;
	line-height: 1.6;
}

@media screen and (min-width: 768px) {
	.nav-bar {
		display: none;
	}

	.desktop-navbar {
		display: flex;
		flex-direction: row;
	}

	#logo {
		position: relative;
		z-index: 1;
	}

	.desktop-navlinks {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		height: 60px;

		position: relative;
		z-index: 1;
	}

	.profile-button {
		min-width: 100px;
		max-width: 130px;
		height: 55px;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		border: 0;
		background-color: white;
	}

	.nav-icon {
		width: 20px;
	}

	.nav-shape {
		position: absolute;
		width: 100vw;
		z-index: 0;
	}
	.white {
		color: white;
	}
	a {
		text-decoration: none;
		color: black;
	}
	.baloo {
		font-family: 'Baloo Paaji 2', sans-serif;
		font-weight: 400;
	}

	.border-radius {
		border-radius: 10px;
	}
	h1 {
		position: relative;
		z-index: 2;
		text-align: center;
		color: #333;
		margin-bottom: 30px;
	}

	#searchForm {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}

	#searchInput {
		padding: 10px;
		width: 300px;
		border: 1px solid #ccc;
		border-radius: 50px;
		outline: none;
		transition: border-color 0.3s;
	}

	#searchInput:focus {
		border-color: #007bff;
		border-radius: 50px;
	}

	#searchButton {
		padding: 12px 25px;
		background: linear-gradient(45deg, #6a11cb, #2575fc);
		color: white;
		font-size: 1.1em;
		font-weight: bold;
		border: none;
		border-radius: 50px;
		margin-left: 10px;
		transition: transform 0.3s ease, box-shadow 0.3s ease;
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
		cursor: pointer;
	}

	#searchButton:hover {
		transform: scale(1.05);
		box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
	}

	#searchButton:focus {
		outline: none;
		box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
	}

	#results {
		position: relative;
		z-index: 2;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
	}

	.book {
		background-color: white;
		padding: 15px;
		border: 1px solid #ccc;
		border-radius: 5px;
		width: 200px;
		text-align: center;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		transition: transform 0.3s, box-shadow 0.3s;
	}

	.book:hover {
		transform: translateY(-5px);
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	}

	.book img {
		max-width: 100%;
		height: auto;
		border-radius: 3px;
	}

	.book h3 {
		font-size: 1.2em;
		margin: 10px 0;
	}

	.book p {
		color: #555;
		margin: 5px 0;
	}
}
