/* STYLE GLOBAL */
/* Couleurs */

:root {
  --violet: #653fc0;
  --lighter-violet: #8e6be1;
  --yellow: #ffc001;
  --lighter-yellow: #ffe8a4;
  --grey: #9c9d9f;
  --lighter-grey: #cbcbcb;
  --lilac: #f3eeff;
}

/* Polices */

p {
  font-family: "Baloo Paaji 2", sans-serif;
  font-size: 30px;
}

h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 4rem;
}

h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

h3 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.baloo {
  font-family: "Baloo Paaji 2", sans-serif;
  font-weight: 400;
}

.noto {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

.noto-bold {
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
}

/* Marges Espacements */

body {
  margin: 0%;
}

/* Box Shadow */

.box-shadow {
  -webkit-box-shadow: 4px 4px 26px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 26px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 26px 2px rgba(0, 0, 0, 0.4);
}

/* Border Radius */

.border-radius {
  border-radius: 20px;
}

/* Liens */

a {
  text-decoration: none;
}

/* STYLE NAVBAR -- Yaël */

li {
  list-style: none;
}

.nav-links {
  display: flex;
  gap: 10rem;
}

.nav-bar {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-block: 1.8rem;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 7rem;
}

.navlink {
  cursor: pointer;
}

.nav-icon {
  width: 210%;
}

/* STYLE SECOND NAVBAR -- Yaël */

.second-nav-bar {
  display: flex;
}

.nav-item {
  min-width: 60px;
  min-height: 50px;
  max-height: 60px;
}

.second-nav-right {
  justify-self: right;
}

/* STYLE PAGE INDEX -- Yaël */

.page-container {
  margin: 2.4rem;
  margin-bottom: 200px;
}

.button-search {
  border: 0;
  background-color: white;
  position: absolute;
  right: 70px;
}

.page-search {
  width: 5rem;
}

.article-container {
  margin-block: 30px;
}

.activity-container {
  display: flex;
  flex-direction: row;

  gap: 1.5rem;

  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  flex-shrink: 0;
}

.activity-container::-webkit-scrollbar {
  display: none;
}

.activity-card {
  background-color: var(--lighter-violet);
  padding: 1.5rem;

  display: flex;
  flex-direction: row;

  color: white;
  max-width: fit-content;
  min-width: 43rem;
}

.activity-card-img {
  width: 200px;
  margin-inline: 1rem;
}

.popular-book-img {
  width: 500px;
  aspect-ratio: 3/4;
  object-fit: cover;
}

.popular-book-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  flex-shrink: 0;
}

.popular-book-container::-webkit-scrollbar {
  display: none;
}

.popular-book-card {
  text-align: center;
}

.category-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  flex-shrink: 0;
}

.category-container::-webkit-scrollbar {
  display: none;
}

.category-card {
  max-width: fit-content;
  min-width: 43rem;

  padding: 1rem;

  display: flex;
  flex-direction: row;
}

/* STYLE PAGE STORYBOOK -- Yaël */

.excellent-book-img {
  width: 500px;
  aspect-ratio: 3/4;
  object-fit: cover;
}

.excellent-book-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  flex-shrink: 0;
}

.excellent-book-container::-webkit-scrollbar {
  display: none;
}

.excellent-book-card {
  padding: 1.2rem;
}


/* STYLE PAGE CATEGORY */
/* CSS page category, ajouté par Juliette*/

.lilas-bg {
  background-color: var(--lilac);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.margin {
  margin: 2rem;
}

.violet {
  color: var(--violet);
}

.w-80 {
  width: 160px;
  padding: 1rem;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.main-margin{
  padding: 30px;
}

.margin-auto{
  margin: auto;
}

.border-radius-10{
  border-radius: 10px;
} */



.m-right {
  margin-right: 1rem;
}

.grey {
  color: var(--grey);
}

.h2mb{
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.cardmb {
  margin-bottom: 5rem;
 flex-wrap: nowrap;
}

/*PAGE ONE BOOK*/

.bg-image{
  background-image: url("/images/shadow_and_bone_resized.jpg");
}

.filter{
  backdrop-filter: blur(25px);
  background-color: rgba(0,0,0,0.4);

}

.white  > *{
  color: white;
}

.one-book-hero{
  font-weight: 400;
  font-size: 1.1rem;
  padding-bottom: 2rem;
}

.one-book-about{
 
  font-size: 2rem;
}

.one-book-summary{
  font-size: 1rem;
  font-weight: 400;
}

.w-460{
  height: 500px;
  width: 100vw;
  object-fit: cover;
  object-position: center;
}

.one-book-title{
  font-weight: 400;
  display: none;
}

.cross-white{
  justify-content: end;
  padding: 30 0 30 0 ;
}

.cross{
  width: 66px;
}

.justify-between{
  justify-content: space-between;
}

.bookmark{
  width: 60px;
}

.menu-dots{
  height: 60px;
}

.owl{
  display: none;
}

.read-button{
  background-color: #ffc001;
  font-size: 3rem;
  border-radius : 50px;
  font-family: "Baloo Paaji 2", sans-serif;
  padding: 40px 120px 40px 120px;
}


.audio-button,.star-button{
  background-color: #ffc001;
  border-radius : 100px;
  padding: 60px ;
}

.desktop-links{
  display: none;
}

.audio,.star{
 width: 60px;
}

/*PAGE AUDIOBOOK*/
.width-main-image{
  width: 300px;
}

.audiobook-h1 {
  font-weight: 500;
} 

.audiobook-main-info{
padding: 30px;
}

.five-stars{
  width: 70px;
  margin-bottom: 16px;
}

.audiobook-about{
  color: var(--grey);
  margin-bottom: 0;
  margin-top: 0px;
}

.audiobook-infos{
  padding: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content:  space-between;

}

.pages{
  padding-right: 60px;
  border-right: solid grey 1px  ;
}

.pages-ratio{
  font-size: 3rem;
}

/* CSS */
#progressContainer {
  width: 100%;
  background-color: #cccccc;
  overflow: hidden;
  position: relative;
}

#progressBar {
  width: 50%;
  height: 5px;
  background-color: var(--yellow);
  
}

.reviews >*{
  margin: 0px 30px;
}
.reviews-nb{
  font-size: 3rem;
}

.users-img{
  object-fit: contain;
  width: 200px;
}

.ambiant-section{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.ambiant{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.amb-1 { grid-area: 1 / 1 / 2 / 2; }
.amb-2 { grid-area: 1 / 2 / 2 / 3; }
.amb-3 { grid-area: 1 / 3 / 2 / 4; }
.amb-4 { grid-area: 2 / 1 / 3 / 2; }
.amb-5 { grid-area: 2 / 2 / 3 / 3; }
.amb-6 { grid-area: 2 / 3 / 3 / 4; }

.ambiant > p {
  font-size :2rem;
}

.ambiant > img{
  width: 80px;
}

.chapter{
  padding: 60px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(142,107,225,0.2) 100%);
}

.chapter__h2{
  color: var(--violet);
  font-weight: 400;
  font-size: 2.5rem;
}

.chapter__h2::before{
  content: url('./images/icons/select.svg');
  padding-right: 16px;
  position: relative;
}

.chapter__h3{
  font-size: 3.5rem;
  font-weight: 400;
}